<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/images"
            base-name="/WebRoot/img">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet 
         	alias="/servlet/myfirstservlet" 
         	class="com.sample.web.servlet.LoginServlet"
         	load-on-startup="true">         	
      </servlet>
      <servlet
            alias="/jsp/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebRoot/jsp/">
      </servlet>
   </extension>
</plugin>
